.home-container {
    display: flex;
    justify-content: center;
    margin-top: 6%
}
.home-card {
    /* display: inline; */
    width: 80%;
    /* height: 20rem; */
    padding: 1.5rem;
    
    
}
.home-button {
    margin-top: 5%;
}


@media (max-width: 600px) {
    .home-container {
        margin-top: 15vh;
    }
    .home-card {
        width: 100%;
    }
  }